<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="spring-mybatis.xml"/>

    <!--<util:properties location="classpath:mail.properties" id="email"/>-->

    <bean id="propertiesBean" class="org.springframework.beans.factory.config.PropertiesFactoryBean">

        <!-- 配置多个配置文件 -->
        <property name="locations">
            <list>
                <!-- 邮箱配置 -->
                <value>classpath:mail.properties</value>

                <!-- 发送短信配置 -->
                <value>classpath:m5c.properties</value>
            </list>
        </property>
    </bean>
</beans>